// Display mixins
@mixin flex($direction: row, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin column($align: flex-start) {
    @include flex(column, null, $align);
}

@mixin center {
    @include flex(column, center, center);
}

/* +++ Example usage +++
.container {
    @include flex(row, space-between, center);
}
.wrapper {
    @include column();
}
.box {
    @include center;
} 
*/

// Display mixins end

// Font mixins start  
@mixin font($family: sans-serif, $weight: normal) {
    font-family: $family;

    $weights: (
        light: 300,
        normal: 400,
        medium: 500,
        semibold: 600,
        bold: 700
    );

    @if map-has-key($weights, $weight) {
        font-weight: map-get($weights, $weight);
    } @else {
        font-weight: $weight;
    }
}
  
/* +++ Example usage +++
.my-text {
    @include font('Poppins', bold); // Use Poppins font with bold weight
}
*/

// Font mixins end
